{% extends 'site_base.html' %}

{% block head_title %}Dashboard{% endblock %}
{% block body %}
<h3>Transactions history</h3>
<div id="transactions"></div>

<h3>To do for this page</h3>
<ul>
  <li>CRUD</li>
  <ul>
    <li><a href="{% url new 'aoeu' %}">New transaction</a></li>
    <li><a href="{% url edit 'aoeu' %}">Edit transaction</a></li>
    <li><a href="{% url sign 'aoeu' %}">Sign transaction</a></li>
    <li>Send a transation to escrow and other parties</li>
    <li>Send to an email address in case someone hasn't registered with one of these app servers.</li>
  </ul>
  <li>History</li>
  <ul>
    <li>Archive json display with <a href="http://ajaxstack.com/jsonreport/">jsonreport.js</a></li>
    <li>Sign transactions</li>
  </ul>
</ul>
{% endblock body %}

{% block footjs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jsonreport.js"></script>
<script>
function chainsaw(json){
  document.getElementById("transactions").innerHTML=_.jsonreport(json);
}
</script>
<script type="text/javascript" src="/transactions.js"></script>
{% endblock footjs %}
