{% extends 'site_base.html' %}

{% block head_title %}Dashboard{% endblock %}
{% block body %}
<div id="transactions"></div>

<h2>To do</h2>
<ul>
  <li>CRUD</li>
  <ul>
    <li>New transaction</li>
    <li>Edit transaction</li>
    <li>Sign transaction</li>
  </ul>
  <li>History</li>
  <ul>
    <li>Archive json display with <a href="http://ajaxstack.com/jsonreport/">jsonreport.js</a></li>
    <li>Sign transactions</li>
  </ul>
</ul>
{% endblock body %}

{% block footjs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jsonreport.js"></script>
<script type="text/javascript" src="/transactions.js"></script>
{% endblock footjs %}
