{% extends 'site_base.html' %}

{% block head_title %}Dashboard{% endblock %}
{% block body %}
<h3>Transactions history</h3>
<div id="transactions"></div>

<h3>To do for this page</h3>
<ul>
  <li>CRUD</li>
  <ul>
    <li>New transaction</li>
    <li>Edit transaction</li>
    <li>Sign transaction</li>
  </ul>
  <li>History</li>
  <ul>
    <li>Archive json display with <a href="http://ajaxstack.com/jsonreport/">jsonreport.js</a></li>
    <li>Sign transactions</li>
  </ul>
</ul>
{% endblock body %}

{% block footjs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jsonreport.js"></script>
<script>
function chainsaw(json){
  document.getElementById("transactions").innerHTML=_.jsonreport(json);
}
</script>
<script type="text/javascript" src="/transactions.js"></script>
{% endblock footjs %}
